In [16]:
import pandas as pd
import geopandas
from pymongo import MongoClient,GEOSPHERE
import shapely.geometry

# Schools

## Dublin

In [17]:
df=pd.read_csv("schools_dublin.csv")
df.head()

,name,latitud,longitud,formattedAddress__001,formattedAddress__002,formattedAddress__003,formattedAddress__004,location__type,location__coordinates__001,location__coordinates__002
0,Oscars English School,53.344214,-6.263200,33-34 Dame St,Dublin,Dublin City,Ireland,Point,53.344214,-6.263200
1,Atlas Language School,53.330061,-6.264892,S Richmond St,Dublin,Dublin City,Ireland,Point,53.330061,-6.264892
2,ULearn English School Dublin,53.336605,-6.262977,89 Harcourt Street,Dublin,Dublin City,Ireland,Point,53.336605,-6.262977
3,Delfin English School,53.353491,-6.262042,2 Parnell Square East,Dublin,Dublin City,Ireland,Point,53.353491,-6.262042
4,Horner School of English,53.336597,-6.249157,80 Fitzwilliam St,Dublin,Dublin City,Ireland,Point,53.336597,-6.249157

In [19]:
df.drop(["name", "formattedAddress__001", "formattedAddress__002", "formattedAddress__003", "formattedAddress__004","location__type","location__coordinates__001", "location__coordinates__002"], axis=1, inplace=True)

In [20]:
df

      latitud  longitud
0   53.344214 -6.263200
1   53.330061 -6.264892
2   53.336605 -6.262977
3   53.353491 -6.262042
4   53.336597 -6.249157
..        ...       ...
65  53.350610 -6.269550
66  53.355529 -6.264830
67  53.344928 -6.252530
68  53.342072 -6.262997
69  53.342728 -6.264508

[70 rows x 2 columns]

In [21]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']
gdf.head()

    longitud   latitud                        loc
0  53.344214 -6.263200  POINT (53.34421 -6.26320)
1  53.330061 -6.264892  POINT (53.33006 -6.26489)
2  53.336605 -6.262977  POINT (53.33661 -6.26298)
3  53.353491 -6.262042  POINT (53.35349 -6.26204)
4  53.336597 -6.249157  POINT (53.33660 -6.24916)

In [22]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud   latitud                                                loc
0  53.344214 -6.263200  {'type': 'Point', 'coordinates': (53.344214359...
1  53.330061 -6.264892  {'type': 'Point', 'coordinates': (53.330061061...
2  53.336605 -6.262977  {'type': 'Point', 'coordinates': (53.336605414...
3  53.353491 -6.262042  {'type': 'Point', 'coordinates': (53.353491044...
4  53.336597 -6.249157  {'type': 'Point', 'coordinates': (53.336596815...

In [23]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Schools
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [24]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

### Nursery

In [91]:
df=pd.read_csv("nurs_dublin.csv")
df.head()

     latitud  longitud
0  53.340168 -6.268405
1  53.338745 -6.276024
2  53.342309 -6.279179
3  53.364331 -6.262317

In [92]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']
gdf.head()

    longitud   latitud                        loc
0  53.340168 -6.268405  POINT (53.34017 -6.26841)
1  53.338745 -6.276024  POINT (53.33874 -6.27602)
2  53.342309 -6.279179  POINT (53.34231 -6.27918)
3  53.364331 -6.262317  POINT (53.36433 -6.26232)

In [93]:
df['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud   latitud                                                loc
0  53.340168 -6.268405  {'type': 'Point', 'coordinates': (53.340168, -...
1  53.338745 -6.276024  {'type': 'Point', 'coordinates': (53.3387449, ...
2  53.342309 -6.279179  {'type': 'Point', 'coordinates': (53.342309, -...
3  53.364331 -6.262317  {'type': 'Point', 'coordinates': (53.3643315, ...

In [94]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Schools
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [95]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

## Manchester

### Schools

In [42]:
df=pd.read_csv("school_man.csv")
df.head()

     latitud  longitud
0  53.479218 -2.239831
1  53.478122 -2.236405
2  53.480423 -2.238362
3  53.480460 -2.234700
4  53.486594 -2.243361

In [43]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']
gdf.head()

    longitud   latitud                        loc
0  53.479218 -2.239831  POINT (53.47922 -2.23983)
1  53.478122 -2.236405  POINT (53.47812 -2.23640)
2  53.480423 -2.238362  POINT (53.48042 -2.23836)
3  53.480460 -2.234700  POINT (53.48046 -2.23470)
4  53.486594 -2.243361  POINT (53.48659 -2.24336)

In [44]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud   latitud                                                loc
0  53.479218 -2.239831  {'type': 'Point', 'coordinates': (53.479218497...
1  53.478122 -2.236405  {'type': 'Point', 'coordinates': (53.478121643...
2  53.480423 -2.238362  {'type': 'Point', 'coordinates': (53.4804229, ...
3  53.480460 -2.234700  {'type': 'Point', 'coordinates': (53.48046011,...
4  53.486594 -2.243361  {'type': 'Point', 'coordinates': (53.486594238...

In [45]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Schools
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [46]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

### Nursery

In [81]:
df=pd.read_csv("nurs_man.csv")
df.head()

     latitud  longitud
0  53.423848 -2.315897
1  53.411713 -2.181837
2  53.435985 -2.315614
3  53.414909 -2.176832
4  53.371555 -1.488839

In [82]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']
gdf.head()

    longitud   latitud                        loc
0  53.423848 -2.315897  POINT (53.42385 -2.31590)
1  53.411713 -2.181837  POINT (53.41171 -2.18184)
2  53.435985 -2.315614  POINT (53.43599 -2.31561)
3  53.414909 -2.176832  POINT (53.41491 -2.17683)
4  53.371555 -1.488839  POINT (53.37156 -1.48884)

In [83]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud   latitud                                                loc
0  53.423848 -2.315897  {'type': 'Point', 'coordinates': (53.4238478, ...
1  53.411713 -2.181837  {'type': 'Point', 'coordinates': (53.411712510...
2  53.435985 -2.315614  {'type': 'Point', 'coordinates': (53.435985133...
3  53.414909 -2.176832  {'type': 'Point', 'coordinates': (53.414908784...
4  53.371555 -1.488839  {'type': 'Point', 'coordinates': (53.371555239...

In [84]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Schools
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [85]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

## Las Palmas

In [48]:
df=pd.read_csv("school_lp.csv")
df.head()

     latitud   longitud
0  28.125151 -15.432821
1  28.131124 -15.439034
2  28.126893 -15.441975
3  28.122279 -15.428148
4  28.112231 -15.420196

In [49]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']
gdf.head()

    longitud    latitud                         loc
0  28.125151 -15.432821  POINT (28.12515 -15.43282)
1  28.131124 -15.439034  POINT (28.13112 -15.43903)
2  28.126893 -15.441975  POINT (28.12689 -15.44197)
3  28.122279 -15.428148  POINT (28.12228 -15.42815)
4  28.112231 -15.420196  POINT (28.11223 -15.42020)

In [50]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud    latitud                                                loc
0  28.125151 -15.432821  {'type': 'Point', 'coordinates': (28.125151302...
1  28.131124 -15.439034  {'type': 'Point', 'coordinates': (28.131123977...
2  28.126893 -15.441975  {'type': 'Point', 'coordinates': (28.126892625...
3  28.122279 -15.428148  {'type': 'Point', 'coordinates': (28.122279, -...
4  28.112231 -15.420196  {'type': 'Point', 'coordinates': (28.112231016...

In [51]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Schools
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [52]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

### Nursery

In [86]:
df=pd.read_csv("nurs_lp.csv")
df.head()

     latitud   longitud
0  28.140824 -15.435629
1  28.134745 -15.433736
2  28.139566 -15.430696
3  28.108564 -15.434343
4  28.104070 -15.414521

In [87]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']
gdf.head()

    longitud    latitud                         loc
0  28.140824 -15.435629  POINT (28.14082 -15.43563)
1  28.134745 -15.433736  POINT (28.13474 -15.43374)
2  28.139566 -15.430696  POINT (28.13957 -15.43070)
3  28.108564 -15.434343  POINT (28.10856 -15.43434)
4  28.104070 -15.414521  POINT (28.10407 -15.41452)

In [88]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud    latitud                                                loc
0  28.140824 -15.435629  {'type': 'Point', 'coordinates': (28.140823978...
1  28.134745 -15.433736  {'type': 'Point', 'coordinates': (28.134744867...
2  28.139566 -15.430696  {'type': 'Point', 'coordinates': (28.139566, -...
3  28.108564 -15.434343  {'type': 'Point', 'coordinates': (28.108564223...
4  28.104070 -15.414521  {'type': 'Point', 'coordinates': (28.104069706...

In [89]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Schools
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [90]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

# Starbucks

## Dublin

In [53]:
df=pd.read_csv("starbucks_dublin.csv")
df.head()

     latitud  longitud
0  53.348446 -6.228475
1  53.332519 -6.243741
2  53.333445 -6.254008
3  53.336677 -6.243111
4  53.347591 -6.259555

In [54]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']
gdf.head()

    longitud   latitud                        loc
0  53.348446 -6.228475  POINT (53.34845 -6.22848)
1  53.332519 -6.243741  POINT (53.33252 -6.24374)
2  53.333445 -6.254008  POINT (53.33344 -6.25401)
3  53.336677 -6.243111  POINT (53.33668 -6.24311)
4  53.347591 -6.259555  POINT (53.34759 -6.25956)

In [55]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud   latitud                                                loc
0  53.348446 -6.228475  {'type': 'Point', 'coordinates': (53.348445865...
1  53.332519 -6.243741  {'type': 'Point', 'coordinates': (53.332519271...
2  53.333445 -6.254008  {'type': 'Point', 'coordinates': (53.333444974...
3  53.336677 -6.243111  {'type': 'Point', 'coordinates': (53.336677, -...
4  53.347591 -6.259555  {'type': 'Point', 'coordinates': (53.347591385...

In [58]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Starbucks
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [59]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

## Manchester

In [60]:
df=pd.read_csv("starbucks_man.csv")
df.head()

     latitud  longitud
0  53.477957 -2.245602
1  53.473700 -2.240029
2  53.478270 -2.250158
3  53.482787 -2.245523
4  53.481841 -2.238139

In [61]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']
gdf.head()

    longitud   latitud                        loc
0  53.477957 -2.245602  POINT (53.47796 -2.24560)
1  53.473700 -2.240029  POINT (53.47370 -2.24003)
2  53.478270 -2.250158  POINT (53.47827 -2.25016)
3  53.482787 -2.245523  POINT (53.48279 -2.24552)
4  53.481841 -2.238139  POINT (53.48184 -2.23814)

In [62]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud   latitud                                                loc
0  53.477957 -2.245602  {'type': 'Point', 'coordinates': (53.477957, -...
1  53.473700 -2.240029  {'type': 'Point', 'coordinates': (53.4737, -2....
2  53.478270 -2.250158  {'type': 'Point', 'coordinates': (53.47827, -2...
3  53.482787 -2.245523  {'type': 'Point', 'coordinates': (53.482787, -...
4  53.481841 -2.238139  {'type': 'Point', 'coordinates': (53.481841, -...

In [63]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Starbucks
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [64]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

## Las Palmas

In [65]:
df=pd.read_csv("starbucks_lp.csv")
df.head()

     latitud   longitud
0  28.134720 -15.431628
1  28.141927 -15.434266
2  28.094622 -15.476153
3  27.937104 -15.389124
4  28.459415 -16.253620

In [66]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']
gdf.head()

    longitud    latitud                         loc
0  28.134720 -15.431628  POINT (28.13472 -15.43163)
1  28.141927 -15.434266  POINT (28.14193 -15.43427)
2  28.094622 -15.476153  POINT (28.09462 -15.47615)
3  27.937104 -15.389124  POINT (27.93710 -15.38912)
4  28.459415 -16.253620  POINT (28.45942 -16.25362)

In [67]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud    latitud                                                loc
0  28.134720 -15.431628  {'type': 'Point', 'coordinates': (28.134720492...
1  28.141927 -15.434266  {'type': 'Point', 'coordinates': (28.141927, -...
2  28.094622 -15.476153  {'type': 'Point', 'coordinates': (28.094622176...
3  27.937104 -15.389124  {'type': 'Point', 'coordinates': (27.937103712...
4  28.459415 -16.253620  {'type': 'Point', 'coordinates': (28.459415242...

In [68]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Starbucks
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [69]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

## Developing companies

## Dublin

In [113]:
df=pd.read_csv("tech_dub.csv")
df.head()

     latitud  longitud
0  53.339893 -6.237343
1  53.341438 -6.231008
2  53.341249 -6.239462
3  53.337864 -6.240727
4  53.341123 -6.241608

In [114]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']
gdf.head()

    longitud   latitud                        loc
0  53.339893 -6.237343  POINT (53.33989 -6.23734)
1  53.341438 -6.231008  POINT (53.34144 -6.23101)
2  53.341249 -6.239462  POINT (53.34125 -6.23946)
3  53.337864 -6.240727  POINT (53.33786 -6.24073)
4  53.341123 -6.241608  POINT (53.34112 -6.24161)

In [115]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud   latitud                                                loc
0  53.339893 -6.237343  {'type': 'Point', 'coordinates': (53.339893347...
1  53.341438 -6.231008  {'type': 'Point', 'coordinates': (53.341437746...
2  53.341249 -6.239462  {'type': 'Point', 'coordinates': (53.341248697...
3  53.337864 -6.240727  {'type': 'Point', 'coordinates': (53.337864212...
4  53.341123 -6.241608  {'type': 'Point', 'coordinates': (53.341123249...

In [116]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Developing_companies
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [117]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

## Manchester

In [118]:
df=pd.read_csv("tech_man.csv")
df.head()

     latitud  longitud
0  53.477224 -2.243550
1  53.483681 -2.240875
2  53.475590 -2.241402
3  53.476469 -2.239602
4  53.480038 -2.248934

In [119]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']

In [120]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud   latitud                                                loc
0  53.477224 -2.243550  {'type': 'Point', 'coordinates': (53.477224095...
1  53.483681 -2.240875  {'type': 'Point', 'coordinates': (53.483681, -...
2  53.475590 -2.241402  {'type': 'Point', 'coordinates': (53.475589873...
3  53.476469 -2.239602  {'type': 'Point', 'coordinates': (53.476468571...
4  53.480038 -2.248934  {'type': 'Point', 'coordinates': (53.480038, -...

In [121]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Developing_companies
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [122]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

## Las Palmas

In [123]:
df=pd.read_csv("tech_lp.csv")
df.head()

     latitud   longitud
0  28.137557 -15.430064
1  28.143822 -15.425184
2  28.107948 -15.418088
3  28.104387 -15.452705

In [124]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']

In [125]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud    latitud                                                loc
0  28.137557 -15.430064  {'type': 'Point', 'coordinates': (28.137557299...
1  28.143822 -15.425184  {'type': 'Point', 'coordinates': (28.143821645...
2  28.107948 -15.418088  {'type': 'Point', 'coordinates': (28.107947603...
3  28.104387 -15.452705  {'type': 'Point', 'coordinates': (28.104386944...

In [126]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Developing_companies
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [127]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

# Transport

## Dublin

### Train

In [128]:
df=pd.read_csv("train_dub.csv")
df.head()

     latitud  longitud
0  53.339532 -6.237297
1  53.333999 -6.228834
2  53.351913 -6.248971
3  53.343299 -6.248247
4  53.346795 -6.253919

In [129]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']

In [130]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud   latitud                                                loc
0  53.339532 -6.237297  {'type': 'Point', 'coordinates': (53.339531558...
1  53.333999 -6.228834  {'type': 'Point', 'coordinates': (53.333998520...
2  53.351913 -6.248971  {'type': 'Point', 'coordinates': (53.351913261...
3  53.343299 -6.248247  {'type': 'Point', 'coordinates': (53.343298608...
4  53.346795 -6.253919  {'type': 'Point', 'coordinates': (53.346795071...

In [131]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Transport
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [132]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

###  Airport

In [133]:
df=pd.read_csv("aero_dub.csv")
df.head()

     latitud  longitud
0  53.426766 -6.243583

In [134]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']

In [135]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud   latitud                                                loc
0  53.426766 -6.243583  {'type': 'Point', 'coordinates': (53.426766301...

In [136]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Transport
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [137]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

### Tram

In [138]:
df=pd.read_csv("tram_dub.csv")
df.head()

     latitud  longitud
0  53.339072 -6.261463
1  53.348335 -6.229223
2  53.326294 -6.256097
3  53.349253 -6.243392
4  53.330782 -6.258475

In [139]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']

In [140]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud   latitud                                                loc
0  53.339072 -6.261463  {'type': 'Point', 'coordinates': (53.339072407...
1  53.348335 -6.229223  {'type': 'Point', 'coordinates': (53.348334615...
2  53.326294 -6.256097  {'type': 'Point', 'coordinates': (53.326293777...
3  53.349253 -6.243392  {'type': 'Point', 'coordinates': (53.349253067...
4  53.330782 -6.258475  {'type': 'Point', 'coordinates': (53.330782086...

In [141]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Transport
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [142]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

## Manchester

### Train

In [143]:
df=pd.read_csv("train_man.csv")
df.head()

     latitud  longitud
0  53.474269 -2.250827
1  53.473770 -2.242155
2  53.477045 -2.230799
3  53.477097 -2.257500
4  53.487382 -2.242541

In [144]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']

In [145]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud   latitud                                                loc
0  53.474269 -2.250827  {'type': 'Point', 'coordinates': (53.474268768...
1  53.473770 -2.242155  {'type': 'Point', 'coordinates': (53.473769504...
2  53.477045 -2.230799  {'type': 'Point', 'coordinates': (53.477045197...
3  53.477097 -2.257500  {'type': 'Point', 'coordinates': (53.477097, -...
4  53.487382 -2.242541  {'type': 'Point', 'coordinates': (53.487381641...

In [146]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Transport
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [147]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

### Airport

In [148]:
df=pd.read_csv("aero_man.csv")
df.head()

    latitud  longitud
0  53.36211 -2.274586

In [149]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']

In [150]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

   longitud   latitud                                                loc
0  53.36211 -2.274586  {'type': 'Point', 'coordinates': (53.362109825...

In [151]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Transport
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [152]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

### Tram

In [153]:
df=pd.read_csv("tram_man.csv")
df.head()

     latitud  longitud
0  53.478252 -2.243174
1  53.474795 -2.250546
2  53.480065 -2.236555
3  53.482042 -2.238930
4  53.476882 -2.231105

In [154]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']

In [155]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud   latitud                                                loc
0  53.478252 -2.243174  {'type': 'Point', 'coordinates': (53.478251522...
1  53.474795 -2.250546  {'type': 'Point', 'coordinates': (53.474794724...
2  53.480065 -2.236555  {'type': 'Point', 'coordinates': (53.480065341...
3  53.482042 -2.238930  {'type': 'Point', 'coordinates': (53.482042296...
4  53.476882 -2.231105  {'type': 'Point', 'coordinates': (53.476882265...

In [156]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Transport
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [157]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

## Las Palmas

### Airport

In [159]:
df=pd.read_csv("aiport_lp.csv")
df.head()

     latitud   longitud
0  28.104074 -15.457926

In [160]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']

In [161]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud    latitud                                                loc
0  28.104074 -15.457926  {'type': 'Point', 'coordinates': (28.104074, -...

In [162]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Transport
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [163]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()

### Bus

In [164]:
df=pd.read_csv("bus_lp.csv")
df.head()

     latitud   longitud
0  28.132637 -15.429829
1  28.109697 -15.417176
2  28.108736 -15.415694
3  28.108745 -15.415895

In [165]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.latitud,
                             df.longitud))
gdf.columns=['longitud','latitud','loc']

In [166]:
gdf['loc']=gdf['loc'].apply(lambda x:shapely.geometry.mapping(x))
gdf.head()

    longitud    latitud                                                loc
0  28.132637 -15.429829  {'type': 'Point', 'coordinates': (28.132636926...
1  28.109697 -15.417176  {'type': 'Point', 'coordinates': (28.109696986...
2  28.108736 -15.415694  {'type': 'Point', 'coordinates': (28.108735573...
3  28.108745 -15.415895  {'type': 'Point', 'coordinates': (28.108744989...

In [167]:
client=MongoClient('localhost',27017)
db = client.Office_project
collection = db.Transport
collection.create_index([("loc", GEOSPHERE)])

'loc_2dsphere'

In [168]:
data = gdf.to_dict(orient='records')
collection.insert_many(data)
client.close()