In [3]:
from pymongo import MongoClient
import pandas as pd
import json
from bson.json_util import dumps
import bson
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster

In [4]:
client = MongoClient("localhost:27017")
db = client.get_database("Office_project")

In [5]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Office_project')

## Dublin

In [6]:
Dublin = [53.33925763762811, -6.234433274297044]

### Starbucks

In [7]:
prueba = db.get_collection("Starbucks")

In [8]:
query = [{'$geoNear':{'near': Dublin,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier': 6257,
            'spherical': True}}]

In [9]:
geoloc = prueba.aggregate(query)

In [10]:
response_json = json.loads(dumps(geoloc))

In [11]:
#response_json

In [12]:
df = pd.DataFrame(response_json)

In [14]:
df.head()

,_id,longitud,latitud,loc,distance
0,{'$oid': '6134859a24570d3647f29db6'},53.331290,-6.231813,"{'type': 'Point', 'coordinates': [53.331290175...",0.911065
1,{'$oid': '6134859a24570d3647f29dac'},53.345658,-6.240487,"{'type': 'Point', 'coordinates': [53.345658299...",0.959131
2,{'$oid': '6134859a24570d3647f29daa'},53.336677,-6.243111,"{'type': 'Point', 'coordinates': [53.336677, -...",0.988196
3,{'$oid': '6134859a24570d3647f29da7'},53.348446,-6.228475,"{'type': 'Point', 'coordinates': [53.348445865...",1.190910
4,{'$oid': '6134859a24570d3647f29da8'},53.332519,-6.243741,"{'type': 'Point', 'coordinates': [53.332519271...",1.252300

In [13]:
df.shape

(35, 5)

### Schools

In [15]:
schools_dub = db.get_collection("Schools")

In [16]:
query = [{'$geoNear':{'near': Dublin,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [17]:
geoloc_school = schools_dub.aggregate(query)

In [18]:
dub_schools_response = json.loads(dumps(geoloc_school))

In [19]:
df_dub_school = pd.DataFrame(dub_schools_response)

In [20]:
df_dub_school.head()

,_id,longitud,latitud,loc,distance
0,{'$oid': '6133b8fb24570d3647f29d2c'},53.328010,-6.240218,"{'type': 'Point', 'coordinates': [53.328010442...",1.399790
1,{'$oid': '6133b8fb24570d3647f29d38'},53.340054,-6.247407,"{'type': 'Point', 'coordinates': [53.340053824...",1.445349
2,{'$oid': '6133b8fb24570d3647f29d3a'},53.338298,-6.248053,"{'type': 'Point', 'coordinates': [53.338297903...",1.518101
3,{'$oid': '6133b8fb24570d3647f29d28'},53.343736,-6.247619,"{'type': 'Point', 'coordinates': [53.343736297...",1.547486
4,{'$oid': '6133b8fb24570d3647f29d3e'},53.344618,-6.248138,"{'type': 'Point', 'coordinates': [53.344617703...",1.635005

### Transport

In [21]:
trans_dub = db.get_collection("Transport")

In [22]:
query = [{'$geoNear':{'near': Dublin,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [23]:
geoloc_trans = trans_dub.aggregate(query)

In [24]:
dub_trans_response = json.loads(dumps(geoloc_trans))

In [25]:
df_dub_trans = pd.DataFrame(dub_trans_response)

In [26]:
df_dub_trans.head()

,_id,longitud,latitud,loc,distance
0,{'$oid': '6134957324570d3647f29efc'},53.339532,-6.237297,"{'type': 'Point', 'coordinates': [53.339531558...",0.319835
1,{'$oid': '6134957324570d3647f29efd'},53.333999,-6.228834,"{'type': 'Point', 'coordinates': [53.333998520...",0.851832
2,{'$oid': '613496ff24570d3647f29f25'},53.348848,-6.237190,"{'type': 'Point', 'coordinates': [53.348847530...",1.103464
3,{'$oid': '613496ff24570d3647f29f21'},53.348335,-6.229223,"{'type': 'Point', 'coordinates': [53.348334615...",1.158627
4,{'$oid': '613496ff24570d3647f29f34'},53.348518,-6.228583,"{'type': 'Point', 'coordinates': [53.348518, -...",1.212839

### Development companies

In [27]:
dev_dub = db.get_collection("Developing_companies")

In [28]:
query = [{'$geoNear':{'near': Dublin,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [29]:
geoloc_dev = dev_dub.aggregate(query)

In [30]:
dub_dev_response = json.loads(dumps(geoloc_dev))

In [31]:
df_dub_dev = pd.DataFrame(dub_dev_response)

In [32]:
df_dub_dev.head()

,_id,longitud,latitud,loc,distance
0,{'$oid': '613493c824570d3647f29eb6'},53.339834,-6.237134,"{'type': 'Point', 'coordinates': [53.339834391...",0.306966
1,{'$oid': '613493c824570d3647f29eb0'},53.339893,-6.237343,"{'type': 'Point', 'coordinates': [53.339893347...",0.331085
2,{'$oid': '613493c824570d3647f29eb1'},53.341438,-6.231008,"{'type': 'Point', 'coordinates': [53.341437746...",0.450666
3,{'$oid': '613493c824570d3647f29eb5'},53.344103,-6.233043,"{'type': 'Point', 'coordinates': [53.344102795...",0.557433
4,{'$oid': '613493c824570d3647f29eb2'},53.341249,-6.239462,"{'type': 'Point', 'coordinates': [53.341248697...",0.600889

## Manchester

In [33]:
Manchester = [53.476555291009824, -2.245396280521493]

### Starbucks

In [34]:
star_man = db.get_collection("Starbucks")

In [35]:
query = [{'$geoNear':{'near': Manchester,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [36]:
geoloc_star_man = star_man.aggregate(query)

In [37]:
man_star_response = json.loads(dumps(geoloc_star_man))

In [38]:
df_man_star = pd.DataFrame(man_star_response)

In [39]:
df_man_star.head()

,_id,longitud,latitud,loc,distance
0,{'$oid': '613486b524570d3647f29dd2'},53.477957,-2.245602,"{'type': 'Point', 'coordinates': [53.477957, -...",0.157414
1,{'$oid': '613486b524570d3647f29ddb'},53.473669,-2.245633,"{'type': 'Point', 'coordinates': [53.473669, -...",0.321773
2,{'$oid': '613486b524570d3647f29dd8'},53.479729,-2.248250,"{'type': 'Point', 'coordinates': [53.479729, -...",0.474382
3,{'$oid': '613486b524570d3647f29dd4'},53.478270,-2.250158,"{'type': 'Point', 'coordinates': [53.47827, -2...",0.562713
4,{'$oid': '613486b524570d3647f29dd3'},53.473700,-2.240029,"{'type': 'Point', 'coordinates': [53.4737, -2....",0.675896

### Schools

In [40]:
school_man = db.get_collection("Schools")

In [41]:
query = [{'$geoNear':{'near': Manchester,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [42]:
geoloc_school_man = school_man.aggregate(query)

In [43]:
man_school_response = json.loads(dumps(geoloc_school_man))

In [44]:
df_man_school = pd.DataFrame(man_school_response)

In [45]:
df_man_school.head()

,_id,longitud,latitud,loc,distance
0,{'$oid': '613482c924570d3647f29d6e'},53.481100,-2.245204,"{'type': 'Point', 'coordinates': [53.4811, -2....",0.505411
1,{'$oid': '613482c924570d3647f29d60'},53.479104,-2.241445,"{'type': 'Point', 'coordinates': [53.479104383...",0.522778
2,{'$oid': '613482c924570d3647f29d62'},53.475369,-2.240189,"{'type': 'Point', 'coordinates': [53.475368895...",0.593855
3,{'$oid': '613482c924570d3647f29d5a'},53.479218,-2.239831,"{'type': 'Point', 'coordinates': [53.479218497...",0.685967
4,{'$oid': '613482c924570d3647f29d5c'},53.480423,-2.238362,"{'type': 'Point', 'coordinates': [53.4804229, ...",0.892470

### Transport

In [46]:
trans_man = db.get_collection("Transport")

In [47]:
query = [{'$geoNear':{'near': Manchester,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [48]:
geoloc_trans_man = trans_man.aggregate(query)

In [49]:
man_trans_response = json.loads(dumps(geoloc_trans_man))

In [50]:
df_man_trans = pd.DataFrame(man_trans_response)

In [51]:
df_man_trans.head()

,_id,longitud,latitud,loc,distance
0,{'$oid': '61349b1d24570d3647f29f71'},53.478252,-2.243174,"{'type': 'Point', 'coordinates': [53.478251522...",0.310819
1,{'$oid': '61349b1d24570d3647f29f78'},53.473526,-2.247572,"{'type': 'Point', 'coordinates': [53.473525877...",0.414537
2,{'$oid': '613498f424570d3647f29f41'},53.474270,-2.242341,"{'type': 'Point', 'coordinates': [53.474269809...",0.424179
3,{'$oid': '613498f424570d3647f29f42'},53.473821,-2.242326,"{'type': 'Point', 'coordinates': [53.473820769...",0.456991
4,{'$oid': '613498f424570d3647f29f40'},53.474180,-2.242030,"{'type': 'Point', 'coordinates': [53.47418, -2...",0.458026

### Developing companies

In [52]:
dev_man = db.get_collection("Developing_companies")

In [53]:
query = [{'$geoNear':{'near': Manchester,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [54]:
geoloc_dev_man = dev_man.aggregate(query)

In [55]:
man_dev_response = json.loads(dumps(geoloc_dev_man))

In [56]:
df_man_dev = pd.DataFrame(man_dev_response)

In [57]:
df_man_dev.head()

,_id,longitud,latitud,loc,distance
0,{'$oid': '613493cf24570d3647f29edb'},53.477224,-2.243550,"{'type': 'Point', 'coordinates': [53.477224095...",0.218324
1,{'$oid': '613493cf24570d3647f29edd'},53.475590,-2.241402,"{'type': 'Point', 'coordinates': [53.475589873...",0.456924
2,{'$oid': '613493cf24570d3647f29ee9'},53.477822,-2.249597,"{'type': 'Point', 'coordinates': [53.477821785...",0.487854
3,{'$oid': '613493cf24570d3647f29ee1'},53.480780,-2.243722,"{'type': 'Point', 'coordinates': [53.480780494...",0.505037
4,{'$oid': '613493cf24570d3647f29edf'},53.480038,-2.248934,"{'type': 'Point', 'coordinates': [53.480038, -...",0.551776

## Las Palmas

In [58]:
Las_Palmas = [28.139050810737494, -15.431441251599868]

### Starbucks

In [59]:
star_lp = db.get_collection("Starbucks")

In [60]:
query = [{'$geoNear':{'near': Las_Palmas,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [61]:
geoloc_star_lp = star_lp.aggregate(query)

In [62]:
lp_star_response = json.loads(dumps(geoloc_star_lp))

In [63]:
df_lp_star = pd.DataFrame(lp_star_response)

In [64]:
df_lp_star.head()

,_id,longitud,latitud,loc,distance
0,{'$oid': '613487ba24570d3647f29e03'},28.141927,-15.434266,"{'type': 'Point', 'coordinates': [28.141927, -...",0.440111
1,{'$oid': '613487ba24570d3647f29e02'},28.134720,-15.431628,"{'type': 'Point', 'coordinates': [28.134720492...",0.464616

### Schools

In [65]:
school_lp = db.get_collection("Schools")

In [66]:
query = [{'$geoNear':{'near': Las_Palmas,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [67]:
geoloc_school_lp = school_lp.aggregate(query)

In [68]:
lp_school_response = json.loads(dumps(geoloc_school_lp))

In [69]:
df_lp_school = pd.DataFrame(lp_school_response)

In [70]:
df_lp_school.head()

,_id,longitud,latitud,loc,distance
0,{'$oid': '61348f4024570d3647f29e1f'},28.139566,-15.430696,"{'type': 'Point', 'coordinates': [28.139566, -...",0.099582
1,{'$oid': '61348f4024570d3647f29e1d'},28.140824,-15.435629,"{'type': 'Point', 'coordinates': [28.140823978...",0.502910
2,{'$oid': '61348f4024570d3647f29e1e'},28.134745,-15.433736,"{'type': 'Point', 'coordinates': [28.134744867...",0.527398
3,{'$oid': '6134847224570d3647f29d73'},28.131124,-15.439034,"{'type': 'Point', 'coordinates': [28.131123977...",1.197782
4,{'$oid': '6134847224570d3647f29d72'},28.125151,-15.432821,"{'type': 'Point', 'coordinates': [28.125151302...",1.497707

### Transport

In [71]:
trans_lp = db.get_collection("Transport")

In [72]:
query = [{'$geoNear':{'near': Las_Palmas,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [73]:
geoloc_trans_lp = trans_lp.aggregate(query)

In [74]:
lp_trans_response = json.loads(dumps(geoloc_trans_lp))

In [75]:
df_lp_trans = pd.DataFrame(lp_trans_response)

In [76]:
df_lp_trans.head()

,_id,longitud,latitud,loc,distance
0,{'$oid': '61349d0124570d3647f29f87'},28.132637,-15.429829,"{'type': 'Point', 'coordinates': [28.132636926...",0.710467
1,{'$oid': '61349d0124570d3647f29f88'},28.109697,-15.417176,"{'type': 'Point', 'coordinates': [28.109696986...",3.523680
2,{'$oid': '61349d0124570d3647f29f8a'},28.108745,-15.415895,"{'type': 'Point', 'coordinates': [28.108744989...",3.679802
3,{'$oid': '61349d0124570d3647f29f89'},28.108736,-15.415694,"{'type': 'Point', 'coordinates': [28.108735573...",3.691247
4,{'$oid': '61349c6d24570d3647f29f85'},28.104074,-15.457926,"{'type': 'Point', 'coordinates': [28.104074, -...",4.767212

### Developing Companies

In [77]:
dev_lp = db.get_collection("Developing_companies")

In [78]:
query = [{'$geoNear':{'near': Las_Palmas,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [79]:
geoloc_dev_lp = dev_lp.aggregate(query)

In [80]:
lp_dev_response = json.loads(dumps(geoloc_dev_lp))

In [81]:
df_lp_dev = pd.DataFrame(lp_dev_response)

In [82]:
df_lp_dev.head()

,_id,longitud,latitud,loc,distance
0,{'$oid': '6134946a24570d3647f29ef7'},28.137557,-15.430064,"{'type': 'Point', 'coordinates': [28.137557299...",0.221557
1,{'$oid': '6134946a24570d3647f29ef8'},28.143822,-15.425184,"{'type': 'Point', 'coordinates': [28.143821645...",0.863477
2,{'$oid': '6134946a24570d3647f29ef9'},28.107948,-15.418088,"{'type': 'Point', 'coordinates': [28.107947603...",3.649619
3,{'$oid': '6134946a24570d3647f29efa'},28.104387,-15.452705,"{'type': 'Point', 'coordinates': [28.104386944...",4.403864

# Means and weighing

### Weighing

In [83]:
schools = 0.3
starbucks= 0.2
transport = 0.8
developing_companies = 0.7

In [84]:
n = 8

### Dublin

In [85]:
mean_star_dub = df["distance"][0:n].sum() / len(df["distance"][0:n])

In [86]:
w_star_dub = mean_star_dub * starbucks

In [87]:
mean_school_dub = df_dub_school["distance"][0:n].sum()/ len(df_dub_school["distance"][0:n])

In [88]:
w_school_dub = mean_school_dub * schools

In [89]:
mean_trans_dub = df_dub_trans["distance"][0:n].sum()/ len(df_dub_trans["distance"][0:n])

In [90]:
w_trans_dub = mean_trans_dub * transport

In [91]:
mean_dev_dub = df_dub_dev["distance"][0:n].sum()/ len(df_dub_dev["distance"][0:n])

In [92]:
w_dev_dub = mean_dev_dub * developing_companies

In [93]:
w_star_dub + w_school_dub + w_trans_dub + w_dev_dub

2.0622500822066496

### Manchester

In [94]:
mean_star_man = df_man_star["distance"][0:n].sum() / len(df_man_star["distance"][0:n])

In [95]:
w_star_man = mean_star_man * starbucks

In [96]:
mean_school_man = df_man_school["distance"][0:n].sum()/ len(df_man_school["distance"][0:n])

In [97]:
w_school_man = mean_school_man * schools

In [98]:
mean_trans_man = df_man_trans["distance"][0:n].sum()/ len(df_man_trans["distance"][0:n])

In [99]:
w_trans_man = mean_trans_man * transport

In [100]:
mean_dev_man = df_man_dev["distance"][0:n].sum()/ len(df_man_dev["distance"][0:n])

In [101]:
w_dev_man = mean_dev_man * developing_companies

In [102]:
w_star_man + w_school_man + w_trans_man + w_dev_man

1.0566074455474936

### Las Palmas

In [103]:
mean_star_lp = df_lp_star["distance"][0:n].sum() / len(df_lp_star["distance"][0:n])

In [104]:
w_star_lp = mean_star_lp * starbucks

In [105]:
mean_school_lp = df_lp_school["distance"][0:n].sum()/ len(df_lp_school["distance"][0:n])

In [106]:
w_school_lp = mean_school_lp * schools

In [107]:
mean_trans_lp = df_lp_trans["distance"][0:n].sum()/ len(df_lp_trans["distance"][0:n])

In [108]:
w_trans_lp = mean_trans_lp * transport

In [109]:
mean_dev_lp = df_lp_dev["distance"][0:n].sum()/ len(df_lp_dev["distance"][0:n])

In [110]:
w_dev_lp = mean_dev_lp * developing_companies

In [111]:
w_star_lp + w_school_lp + w_trans_lp + w_dev_lp

4.644717894141601