In [107]:
from pymongo import MongoClient
import pandas as pd
import json
from bson.json_util import dumps
import bson
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster

In [3]:
client = MongoClient("localhost:27017")
db = client.get_database("Office_project")

In [4]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Office_project')

## Dublin

In [5]:
Dublin = [53.33925763762811, -6.234433274297044]

### Starbucks

In [6]:
prueba = db.get_collection("Starbucks")

In [7]:
query = [{'$geoNear':{'near': Dublin,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier': 6257,
            'spherical': True}}]

In [8]:
geoloc = prueba.aggregate(query)

In [9]:
response_json = json.loads(dumps(geoloc))

In [10]:
#response_json

In [11]:
df = pd.DataFrame(response_json)

In [198]:
df

,_id,longitud,latitud,loc,distance
0,{'$oid': '6134859a24570d3647f29db6'},53.331290,-6.231813,"{'type': 'Point', 'coordinates': [53.331290175...",0.911065
1,{'$oid': '6134859a24570d3647f29dac'},53.345658,-6.240487,"{'type': 'Point', 'coordinates': [53.345658299...",0.959131
2,{'$oid': '6134859a24570d3647f29daa'},53.336677,-6.243111,"{'type': 'Point', 'coordinates': [53.336677, -...",0.988196
3,{'$oid': '6134859a24570d3647f29da7'},53.348446,-6.228475,"{'type': 'Point', 'coordinates': [53.348445865...",1.190910
4,{'$oid': '6134859a24570d3647f29da8'},53.332519,-6.243741,"{'type': 'Point', 'coordinates': [53.332519271...",1.252300
5,{'$oid': '6134859a24570d3647f29db2'},53.349109,-6.247845,"{'type': 'Point', 'coordinates': [53.349108677...",1.813498
6,{'$oid': '6134859a24570d3647f29daf'},53.356516,-6.232209,"{'type': 'Point', 'coordinates': [53.356515519...",1.889197
7,{'$oid': '6134859a24570d3647f29dbd'},53.358230,-6.226753,"{'type': 'Point', 'coordinates': [53.358229603...",2.223831
8,{'$oid': '6134859a24570d3647f29da9'},53.333445,-6.254008,"{'type': 'Point', 'coordinates': [53.333444974...",2.228815
9,{'$oid': '6134859a24570d3647f29dbb'},53.347378,-6.255843,"{'type': 'Point', 'coordinates': [53.347378, -...",2.498716
10,{'$oid': '6134859a24570d3647f29dad'},53.339287,-6.257499,"{'type': 'Point', 'coordinates': [53.339287227...",2.518902
11,{'$oid': '6134859a24570d3647f29dbf'},53.341974,-6.257955,"{'type': 'Point', 'coordinates': [53.341974186...",2.585569
12,{'$oid': '6134859a24570d3647f29db4'},53.346098,-6.259072,"{'type': 'Point', 'coordinates': [53.346097636...",2.791202
13,{'$oid': '6134859a24570d3647f29dba'},53.346162,-6.259136,"{'type': 'Point', 'coordinates': [53.346162, -...",2.799854
14,{'$oid': '6134859a24570d3647f29dab'},53.347591,-6.259555,"{'type': 'Point', 'coordinates': [53.347591385...",2.888767
15,{'$oid': '6134859a24570d3647f29db0'},53.350007,-6.259033,"{'type': 'Point', 'coordinates': [53.350007276...",2.928903
16,{'$oid': '6134859a24570d3647f29db3'},53.344415,-6.260942,"{'type': 'Point', 'coordinates': [53.344414517...",2.948559
17,{'$oid': '6134859a24570d3647f29db5'},53.340873,-6.261405,"{'type': 'Point', 'coordinates': [53.340872590...",2.950660
18,{'$oid': '6134859a24570d3647f29dc0'},53.349679,-6.259835,"{'type': 'Point', 'coordinates': [53.349679131...",2.995809
19,{'$oid': '6134859a24570d3647f29db8'},53.332918,-6.262603,"{'type': 'Point', 'coordinates': [53.332918286...",3.152268
20,{'$oid': '6134859a24570d3647f29db9'},53.346167,-6.262477,"{'type': 'Point', 'coordinates': [53.346167235...",3.153014
21,{'$oid': '6134859a24570d3647f29db1'},53.349626,-6.261584,"{'type': 'Point', 'coordinates': [53.349625663...",3.171422
22,{'$oid': '6134859a24570d3647f29dbe'},53.341845,-6.263727,"{'type': 'Point', 'coordinates': [53.341845048...",3.211368
23,{'$oid': '6134859a24570d3647f29db7'},53.347545,-6.263520,"{'type': 'Point', 'coordinates': [53.347545041...",3.301357
24,{'$oid': '6134859a24570d3647f29dae'},53.339486,-6.265903,"{'type': 'Point', 'coordinates': [53.339486162...",3.436782
25,{'$oid': '6134859a24570d3647f29dc4'},53.350083,-6.264009,"{'type': 'Point', 'coordinates': [53.350082562...",3.436956
26,{'$oid': '6134859a24570d3647f29dbc'},53.337666,-6.267023,"{'type': 'Point', 'coordinates': [53.337666289...",3.563125
27,{'$oid': '6134859a24570d3647f29dc3'},53.323353,-6.265477,"{'type': 'Point', 'coordinates': [53.323352917...",3.804441
28,{'$oid': '6134859a24570d3647f29dc6'},53.321617,-6.266316,"{'type': 'Point', 'coordinates': [53.321617227...",3.973612
29,{'$oid': '6134859a24570d3647f29dc5'},53.304649,-6.219767,"{'type': 'Point', 'coordinates': [53.304648771...",4.084315
30,{'$oid': '6134859a24570d3647f29dc2'},53.330664,-6.278132,"{'type': 'Point', 'coordinates': [53.330664, -...",4.862458
31,{'$oid': '6134859a24570d3647f29dc1'},53.347470,-6.278566,"{'type': 'Point', 'coordinates': [53.347469974...",4.901298
32,{'$oid': '6134859a24570d3647f29dce'},53.385770,-6.258276,"{'type': 'Point', 'coordinates': [53.385769755...",5.681019
33,{'$oid': '6134859a24570d3647f29dc9'},53.286488,-6.240519,"{'type': 'Point', 'coordinates': [53.286488433...",5.766980
34,{'$oid': '6134859a24570d3647f29dcd'},53.392696,-6.248581,"{'type': 'Point', 'coordinates': [53.392696355...",6.003411

In [13]:
df.shape

(35, 5)

### Schools

In [14]:
schools_dub = db.get_collection("Schools")

In [15]:
query = [{'$geoNear':{'near': Dublin,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [16]:
geoloc_school = schools_dub.aggregate(query)

In [17]:
dub_schools_response = json.loads(dumps(geoloc_school))

In [18]:
df_dub_school = pd.DataFrame(dub_schools_response)

In [19]:
df_dub_school

,_id,longitud,latitud,loc,distance
0,{'$oid': '6133b8fb24570d3647f29d2c'},53.328010,-6.240218,"{'type': 'Point', 'coordinates': [53.328010442...",1.399790
1,{'$oid': '6133b8fb24570d3647f29d38'},53.340054,-6.247407,"{'type': 'Point', 'coordinates': [53.340053824...",1.445349
2,{'$oid': '6133b8fb24570d3647f29d3a'},53.338298,-6.248053,"{'type': 'Point', 'coordinates': [53.338297903...",1.518101
3,{'$oid': '6133b8fb24570d3647f29d28'},53.343736,-6.247619,"{'type': 'Point', 'coordinates': [53.343736297...",1.547486
4,{'$oid': '6133b8fb24570d3647f29d3e'},53.344618,-6.248138,"{'type': 'Point', 'coordinates': [53.344617703...",1.635005
...,...,...,...,...,...
69,{'$oid': '6133b8fb24570d3647f29d21'},53.341703,-6.275642,"{'type': 'Point', 'coordinates': [53.341703470...",4.590144
70,{'$oid': '61348fad24570d3647f29e2a'},53.338745,-6.276024,"{'type': 'Point', 'coordinates': [53.3387449, ...",4.625069
71,{'$oid': '6133b8fb24570d3647f29d4f'},53.343818,-6.277887,"{'type': 'Point', 'coordinates': [53.343817770...",4.858093
72,{'$oid': '6133b8fb24570d3647f29d52'},53.331484,-6.278454,"{'type': 'Point', 'coordinates': [53.331484325...",4.969679
73,{'$oid': '61348fad24570d3647f29e2b'},53.342309,-6.279179,"{'type': 'Point', 'coordinates': [53.342309, -...",4.986916

In [122]:
df_dub_school["distance"].sum()/ len(df_dub_school["distance"])

3.0335976746163142

### Transport

In [20]:
trans_dub = db.get_collection("Transport")

In [21]:
query = [{'$geoNear':{'near': Dublin,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [22]:
geoloc_trans = trans_dub.aggregate(query)

In [23]:
dub_trans_response = json.loads(dumps(geoloc_trans))

In [24]:
df_dub_trans = pd.DataFrame(dub_trans_response)

In [119]:
df_dub_trans.head()

,_id,longitud,latitud,loc,distance
0,{'$oid': '6134957324570d3647f29efc'},53.339532,-6.237297,"{'type': 'Point', 'coordinates': [53.339531558...",0.319835
1,{'$oid': '6134957324570d3647f29efd'},53.333999,-6.228834,"{'type': 'Point', 'coordinates': [53.333998520...",0.851832
2,{'$oid': '613496ff24570d3647f29f25'},53.348848,-6.237190,"{'type': 'Point', 'coordinates': [53.348847530...",1.103464
3,{'$oid': '613496ff24570d3647f29f21'},53.348335,-6.229223,"{'type': 'Point', 'coordinates': [53.348334615...",1.158627
4,{'$oid': '613496ff24570d3647f29f34'},53.348518,-6.228583,"{'type': 'Point', 'coordinates': [53.348518, -...",1.212839

### Development companies

In [82]:
dev_dub = db.get_collection("Developing_companies")

In [83]:
query = [{'$geoNear':{'near': Dublin,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [84]:
geoloc_dev = dev_dub.aggregate(query)

In [85]:
dub_dev_response = json.loads(dumps(geoloc_dev))

In [86]:
df_dub_dev = pd.DataFrame(dub_dev_response)

In [87]:
df_dub_dev

,_id,longitud,latitud,loc,distance
0,{'$oid': '613493c824570d3647f29eb6'},53.339834,-6.237134,"{'type': 'Point', 'coordinates': [53.339834391...",0.306966
1,{'$oid': '613493c824570d3647f29eb0'},53.339893,-6.237343,"{'type': 'Point', 'coordinates': [53.339893347...",0.331085
2,{'$oid': '613493c824570d3647f29eb1'},53.341438,-6.231008,"{'type': 'Point', 'coordinates': [53.341437746...",0.450666
3,{'$oid': '613493c824570d3647f29eb5'},53.344103,-6.233043,"{'type': 'Point', 'coordinates': [53.344102795...",0.557433
4,{'$oid': '613493c824570d3647f29eb2'},53.341249,-6.239462,"{'type': 'Point', 'coordinates': [53.341248697...",0.600889
5,{'$oid': '613493c824570d3647f29eb7'},53.345297,-6.235870,"{'type': 'Point', 'coordinates': [53.345297273...",0.686462
6,{'$oid': '613493c824570d3647f29eb3'},53.337864,-6.240727,"{'type': 'Point', 'coordinates': [53.337864212...",0.716546
7,{'$oid': '613493c824570d3647f29eb4'},53.341123,-6.241608,"{'type': 'Point', 'coordinates': [53.341123249...",0.823978
8,{'$oid': '613493c824570d3647f29eb8'},53.344516,-6.239745,"{'type': 'Point', 'coordinates': [53.344515757...",0.828649
9,{'$oid': '613493c824570d3647f29ebb'},53.331867,-6.230796,"{'type': 'Point', 'coordinates': [53.331867447...",0.911541
10,{'$oid': '613493c824570d3647f29eba'},53.332132,-6.230106,"{'type': 'Point', 'coordinates': [53.332131976...",0.922977
11,{'$oid': '613493c824570d3647f29ebc'},53.345365,-6.242439,"{'type': 'Point', 'coordinates': [53.345365193...",1.117281
12,{'$oid': '613493c824570d3647f29ec4'},53.349834,-6.232488,"{'type': 'Point', 'coordinates': [53.349834038...",1.188928
13,{'$oid': '613493c824570d3647f29eb9'},53.336119,-6.244675,"{'type': 'Point', 'coordinates': [53.336119192...",1.190457
14,{'$oid': '613493c824570d3647f29ebf'},53.347719,-6.241439,"{'type': 'Point', 'coordinates': [53.347719116...",1.217234
15,{'$oid': '613493c824570d3647f29ec1'},53.347917,-6.241354,"{'type': 'Point', 'coordinates': [53.347917, -...",1.228167
16,{'$oid': '613493c824570d3647f29ebd'},53.332923,-6.243753,"{'type': 'Point', 'coordinates': [53.332923233...",1.250714
17,{'$oid': '613493c824570d3647f29ec2'},53.332354,-6.245637,"{'type': 'Point', 'coordinates': [53.332353892...",1.460956
18,{'$oid': '613493c824570d3647f29ec5'},53.345732,-6.246221,"{'type': 'Point', 'coordinates': [53.345732, -...",1.493380
19,{'$oid': '613493c824570d3647f29ebe'},53.341866,-6.248227,"{'type': 'Point', 'coordinates': [53.341866297...",1.560701
20,{'$oid': '613493c824570d3647f29ec3'},53.332504,-6.247185,"{'type': 'Point', 'coordinates': [53.332503636...",1.602494
21,{'$oid': '613493c824570d3647f29ec0'},53.336303,-6.249670,"{'type': 'Point', 'coordinates': [53.336303, -...",1.725437
22,{'$oid': '613493c824570d3647f29ec7'},53.348560,-6.246913,"{'type': 'Point', 'coordinates': [53.348559556...",1.727100
23,{'$oid': '613493c824570d3647f29eca'},53.349210,-6.247681,"{'type': 'Point', 'coordinates': [53.349210089...",1.838516
24,{'$oid': '613493c824570d3647f29ec6'},53.343788,-6.252379,"{'type': 'Point', 'coordinates': [53.343787914...",2.057391
25,{'$oid': '613493c824570d3647f29ec8'},53.342085,-6.253985,"{'type': 'Point', 'coordinates': [53.342085415...",2.196437
26,{'$oid': '613493c824570d3647f29ec9'},53.338069,-6.254884,"{'type': 'Point', 'coordinates': [53.338069, -...",2.277809
27,{'$oid': '613493c824570d3647f29ecb'},53.339527,-6.257364,"{'type': 'Point', 'coordinates': [53.339527313...",2.549913
28,{'$oid': '613493c824570d3647f29ecd'},53.331727,-6.256474,"{'type': 'Point', 'coordinates': [53.331726580...",2.588362
29,{'$oid': '613493c824570d3647f29ecc'},53.342788,-6.257804,"{'type': 'Point', 'coordinates': [53.342787669...",2.627817
30,{'$oid': '613493c824570d3647f29ed0'},53.333892,-6.261278,"{'type': 'Point', 'coordinates': [53.333892013...",3.043359
31,{'$oid': '613493c824570d3647f29ece'},53.341302,-6.262098,"{'type': 'Point', 'coordinates': [53.341302491...",3.084431
32,{'$oid': '613493c824570d3647f29ed1'},53.334001,-6.261791,"{'type': 'Point', 'coordinates': [53.334000652...",3.097022
33,{'$oid': '613493c824570d3647f29ed5'},53.350167,-6.260344,"{'type': 'Point', 'coordinates': [53.350167370...",3.123321
34,{'$oid': '613493c824570d3647f29ecf'},53.340595,-6.262496,"{'type': 'Point', 'coordinates': [53.340594780...",3.123917
35,{'$oid': '613493c824570d3647f29ed3'},53.335883,-6.262765,"{'type': 'Point', 'coordinates': [53.335883108...",3.172341
36,{'$oid': '613493c824570d3647f29ed2'},53.341557,-6.262956,"{'type': 'Point', 'coordinates': [53.341557440...",3.181795
37,{'$oid': '613493c824570d3647f29ed4'},53.344783,-6.263849,"{'type': 'Point', 'coordinates': [53.344783085...",3.327378
38,{'$oid': '613493c824570d3647f29ed7'},53.347316,-6.265531,"{'type': 'Point', 'coordinates': [53.347315760...",3.570748
39,{'$oid': '613493c824570d3647f29ed6'},53.341372,-6.267592,"{'type': 'Point', 'coordinates': [53.341372215...",3.694524
40,{'$oid': '613493c824570d3647f29ed8'},53.336727,-6.274425,"{'type': 'Point', 'coordinates': [53.336726990...",4.455651
41,{'$oid': '613493c824570d3647f29ed9'},53.339124,-6.280142,"{'type': 'Point', 'coordinates': [53.339123749...",5.082555

## Manchester

In [88]:
Manchester = [53.476555291009824, -2.245396280521493]

### Starbucks

In [33]:
star_man = db.get_collection("Starbucks")

In [90]:
query = [{'$geoNear':{'near': Manchester,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [91]:
geoloc_star_man = star_man.aggregate(query)

In [92]:
man_star_response = json.loads(dumps(geoloc_star_man))

In [93]:
df_man_star = pd.DataFrame(man_star_response)

In [94]:
df_man_star

,_id,longitud,latitud,loc,distance
0,{'$oid': '613486b524570d3647f29dd2'},53.477957,-2.245602,"{'type': 'Point', 'coordinates': [53.477957, -...",0.157414
1,{'$oid': '613486b524570d3647f29ddb'},53.473669,-2.245633,"{'type': 'Point', 'coordinates': [53.473669, -...",0.321773
2,{'$oid': '613486b524570d3647f29dd8'},53.479729,-2.248250,"{'type': 'Point', 'coordinates': [53.479729, -...",0.474382
3,{'$oid': '613486b524570d3647f29dd4'},53.478270,-2.250158,"{'type': 'Point', 'coordinates': [53.47827, -2...",0.562713
4,{'$oid': '613486b524570d3647f29dd3'},53.473700,-2.240029,"{'type': 'Point', 'coordinates': [53.4737, -2....",0.675896
5,{'$oid': '613486b524570d3647f29dd5'},53.482787,-2.245523,"{'type': 'Point', 'coordinates': [53.482787, -...",0.692546
6,{'$oid': '613486b524570d3647f29dd7'},53.483891,-2.241629,"{'type': 'Point', 'coordinates': [53.483891, -...",0.916415
7,{'$oid': '613486b524570d3647f29dda'},53.480403,-2.238051,"{'type': 'Point', 'coordinates': [53.480403, -...",0.921881
8,{'$oid': '613486b524570d3647f29dd6'},53.481841,-2.238139,"{'type': 'Point', 'coordinates': [53.481841, -...",0.998058
9,{'$oid': '613486b524570d3647f29dd9'},53.485123,-2.242287,"{'type': 'Point', 'coordinates': [53.485123, -...",1.012794
10,{'$oid': '613486b524570d3647f29dde'},53.474843,-2.235079,"{'type': 'Point', 'coordinates': [53.474843, -...",1.162898
11,{'$oid': '613486b524570d3647f29ddf'},53.487631,-2.242806,"{'type': 'Point', 'coordinates': [53.487631, -...",1.263875
12,{'$oid': '613486b524570d3647f29ddc'},53.479403,-2.233352,"{'type': 'Point', 'coordinates': [53.479403, -...",1.376132
13,{'$oid': '613486b524570d3647f29ddd'},53.479663,-2.233331,"{'type': 'Point', 'coordinates': [53.479663099...",1.385366
14,{'$oid': '613486b524570d3647f29de1'},53.467579,-2.235045,"{'type': 'Point', 'coordinates': [53.467579339...",1.522946
15,{'$oid': '613486b524570d3647f29de0'},53.477398,-2.230911,"{'type': 'Point', 'coordinates': [53.477398, -...",1.613353
16,{'$oid': '613486b524570d3647f29de2'},53.461821,-2.228550,"{'type': 'Point', 'coordinates': [53.461821, -...",2.487800
17,{'$oid': '613486b524570d3647f29de3'},53.497524,-2.235648,"{'type': 'Point', 'coordinates': [53.497523614...",2.569613

### Schools

In [95]:
school_man = db.get_collection("Schools")

In [96]:
query = [{'$geoNear':{'near': Manchester,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [97]:
geoloc_school_man = school_man.aggregate(query)

In [98]:
man_school_response = json.loads(dumps(geoloc_school_man))

In [99]:
df_man_school = pd.DataFrame(man_school_response)

In [100]:
df_man_school

,_id,longitud,latitud,loc,distance
0,{'$oid': '613482c924570d3647f29d6e'},53.481100,-2.245204,"{'type': 'Point', 'coordinates': [53.4811, -2....",0.505411
1,{'$oid': '613482c924570d3647f29d60'},53.479104,-2.241445,"{'type': 'Point', 'coordinates': [53.479104383...",0.522778
2,{'$oid': '613482c924570d3647f29d62'},53.475369,-2.240189,"{'type': 'Point', 'coordinates': [53.475368895...",0.593855
3,{'$oid': '613482c924570d3647f29d5a'},53.479218,-2.239831,"{'type': 'Point', 'coordinates': [53.479218497...",0.685967
4,{'$oid': '613482c924570d3647f29d5c'},53.480423,-2.238362,"{'type': 'Point', 'coordinates': [53.4804229, ...",0.892470
5,{'$oid': '613482c924570d3647f29d67'},53.481999,-2.239409,"{'type': 'Point', 'coordinates': [53.481999454...",0.899548
6,{'$oid': '613482c924570d3647f29d6f'},53.478145,-2.236960,"{'type': 'Point', 'coordinates': [53.478145160...",0.954591
7,{'$oid': '613482c924570d3647f29d68'},53.481680,-2.238407,"{'type': 'Point', 'coordinates': [53.481680311...",0.963461
8,{'$oid': '613482c924570d3647f29d5b'},53.478122,-2.236405,"{'type': 'Point', 'coordinates': [53.478121643...",1.014860
9,{'$oid': '613482c924570d3647f29d64'},53.471407,-2.237654,"{'type': 'Point', 'coordinates': [53.4714067, ...",1.033637
10,{'$oid': '613482c924570d3647f29d61'},53.480014,-2.235825,"{'type': 'Point', 'coordinates': [53.480014449...",1.131535
11,{'$oid': '613482c924570d3647f29d5e'},53.486594,-2.243361,"{'type': 'Point', 'coordinates': [53.486594238...",1.138148
12,{'$oid': '613482c924570d3647f29d5d'},53.480460,-2.234700,"{'type': 'Point', 'coordinates': [53.48046011,...",1.266025
13,{'$oid': '613482c924570d3647f29d70'},53.486775,-2.250986,"{'type': 'Point', 'coordinates': [53.4867748, ...",1.294483
14,{'$oid': '613482c924570d3647f29d6a'},53.481100,-2.234495,"{'type': 'Point', 'coordinates': [53.481099659...",1.313157
15,{'$oid': '613482c924570d3647f29d63'},53.467789,-2.235507,"{'type': 'Point', 'coordinates': [53.467789, -...",1.468987
16,{'$oid': '613482c924570d3647f29d66'},53.467524,-2.233915,"{'type': 'Point', 'coordinates': [53.467524, -...",1.623825
17,{'$oid': '613482c924570d3647f29d5f'},53.483514,-2.259308,"{'type': 'Point', 'coordinates': [53.483513929...",1.729400
18,{'$oid': '613482c924570d3647f29d65'},53.466433,-2.233328,"{'type': 'Point', 'coordinates': [53.466433032...",1.750892
19,{'$oid': '613482c924570d3647f29d69'},53.464179,-2.233110,"{'type': 'Point', 'coordinates': [53.464178572...",1.938449
20,{'$oid': '613482c924570d3647f29d6b'},53.485971,-2.223091,"{'type': 'Point', 'coordinates': [53.485970979...",2.691865
21,{'$oid': '613482c924570d3647f29d6d'},53.484521,-2.271050,"{'type': 'Point', 'coordinates': [53.484520517...",2.986667
22,{'$oid': '613482c924570d3647f29d6c'},53.484691,-2.271187,"{'type': 'Point', 'coordinates': [53.484690550...",3.006906

### Transport

In [101]:
trans_man = db.get_collection("Transport")

In [102]:
query = [{'$geoNear':{'near': Manchester,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [103]:
geoloc_trans_man = trans_man.aggregate(query)

In [104]:
man_trans_response = json.loads(dumps(geoloc_trans_man))

In [105]:
df_man_trans = pd.DataFrame(man_trans_response)

In [106]:
df_man_trans

,_id,longitud,latitud,loc,distance
0,{'$oid': '61349b1d24570d3647f29f71'},53.478252,-2.243174,"{'type': 'Point', 'coordinates': [53.478251522...",0.310819
1,{'$oid': '61349b1d24570d3647f29f78'},53.473526,-2.247572,"{'type': 'Point', 'coordinates': [53.473525877...",0.414537
2,{'$oid': '613498f424570d3647f29f41'},53.474270,-2.242341,"{'type': 'Point', 'coordinates': [53.474269809...",0.424179
3,{'$oid': '613498f424570d3647f29f42'},53.473821,-2.242326,"{'type': 'Point', 'coordinates': [53.473820769...",0.456991
4,{'$oid': '613498f424570d3647f29f40'},53.474180,-2.242030,"{'type': 'Point', 'coordinates': [53.47418, -2...",0.458026
...,...,...,...,...,...
65,{'$oid': '613498f424570d3647f29f62'},53.476385,-2.227625,"{'type': 'Point', 'coordinates': [53.476385145...",1.976147
66,{'$oid': '61349b1d24570d3647f29f7b'},53.470067,-2.267455,"{'type': 'Point', 'coordinates': [53.470067492...",2.556522
67,{'$oid': '613498f424570d3647f29f6c'},53.474921,-2.222067,"{'type': 'Point', 'coordinates': [53.474921406...",2.600400
68,{'$oid': '613498f424570d3647f29f6d'},53.474563,-2.221808,"{'type': 'Point', 'coordinates': [53.474563, -...",2.632240
69,{'$oid': '61349b1d24570d3647f29f7c'},53.480948,-2.219915,"{'type': 'Point', 'coordinates': [53.480947735...",2.875078

### Developing companies

In [51]:
dev_man = db.get_collection("Developing_companies")

In [52]:
query = [{'$geoNear':{'near': Manchester,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [53]:
geoloc_dev_man = dev_man.aggregate(query)

In [54]:
man_dev_response = json.loads(dumps(geoloc_dev_man))

In [55]:
df_man_dev = pd.DataFrame(man_dev_response)

In [56]:
df_man_dev

,_id,longitud,latitud,loc,distance
0,{'$oid': '613493cf24570d3647f29edb'},53.477224,-2.243550,"{'type': 'Point', 'coordinates': [53.477224095...",0.218324
1,{'$oid': '613493cf24570d3647f29edd'},53.475590,-2.241402,"{'type': 'Point', 'coordinates': [53.475589873...",0.456924
2,{'$oid': '613493cf24570d3647f29ee9'},53.477822,-2.249597,"{'type': 'Point', 'coordinates': [53.477821785...",0.487854
3,{'$oid': '613493cf24570d3647f29ee1'},53.480780,-2.243722,"{'type': 'Point', 'coordinates': [53.480780494...",0.505037
4,{'$oid': '613493cf24570d3647f29edf'},53.480038,-2.248934,"{'type': 'Point', 'coordinates': [53.480038, -...",0.551776
5,{'$oid': '613493cf24570d3647f29ee0'},53.479828,-2.241046,"{'type': 'Point', 'coordinates': [53.4798282, ...",0.605210
6,{'$oid': '613493cf24570d3647f29ede'},53.476469,-2.239602,"{'type': 'Point', 'coordinates': [53.476468571...",0.644422
7,{'$oid': '613493cf24570d3647f29ee2'},53.472437,-2.240420,"{'type': 'Point', 'coordinates': [53.472436901...",0.718051
8,{'$oid': '613493cf24570d3647f29ee5'},53.482972,-2.246295,"{'type': 'Point', 'coordinates': [53.482971712...",0.719892
9,{'$oid': '613493cf24570d3647f29ee3'},53.478827,-2.251832,"{'type': 'Point', 'coordinates': [53.478826680...",0.758868
10,{'$oid': '613493cf24570d3647f29ee4'},53.481527,-2.240514,"{'type': 'Point', 'coordinates': [53.481527425...",0.774584
11,{'$oid': '613493cf24570d3647f29ef5'},53.483047,-2.242011,"{'type': 'Point', 'coordinates': [53.483046599...",0.813546
12,{'$oid': '613493cf24570d3647f29edc'},53.483681,-2.240875,"{'type': 'Point', 'coordinates': [53.483681, -...",0.937868
13,{'$oid': '613493cf24570d3647f29eeb'},53.485074,-2.242520,"{'type': 'Point', 'coordinates': [53.48507404,...",0.999098
14,{'$oid': '613493cf24570d3647f29eef'},53.487382,-2.246189,"{'type': 'Point', 'coordinates': [53.487381641...",1.206137
15,{'$oid': '613493cf24570d3647f29eec'},53.485946,-2.239830,"{'type': 'Point', 'coordinates': [53.485945693...",1.213111
16,{'$oid': '613493cf24570d3647f29eea'},53.482574,-2.234902,"{'type': 'Point', 'coordinates': [53.482574476...",1.344940
17,{'$oid': '613493cf24570d3647f29ee8'},53.482017,-2.234452,"{'type': 'Point', 'coordinates': [53.482016912...",1.359887
18,{'$oid': '613493cf24570d3647f29ee6'},53.481297,-2.234084,"{'type': 'Point', 'coordinates': [53.481297, -...",1.363747
19,{'$oid': '613493cf24570d3647f29ef0'},53.464439,-2.247843,"{'type': 'Point', 'coordinates': [53.464439328...",1.373417
20,{'$oid': '613493cf24570d3647f29ee7'},53.481358,-2.233754,"{'type': 'Point', 'coordinates': [53.481358031...",1.400241
21,{'$oid': '613493cf24570d3647f29ef1'},53.489218,-2.241422,"{'type': 'Point', 'coordinates': [53.489217657...",1.474685
22,{'$oid': '613493cf24570d3647f29eed'},53.483357,-2.258055,"{'type': 'Point', 'coordinates': [53.483357, -...",1.597632
23,{'$oid': '613493cf24570d3647f29ef3'},53.463068,-2.238387,"{'type': 'Point', 'coordinates': [53.463067963...",1.689132
24,{'$oid': '613493cf24570d3647f29ef2'},53.464062,-2.236458,"{'type': 'Point', 'coordinates': [53.464062124...",1.707240
25,{'$oid': '613493cf24570d3647f29ef4'},53.463123,-2.237874,"{'type': 'Point', 'coordinates': [53.463123200...",1.710833
26,{'$oid': '613493cf24570d3647f29eee'},53.472703,-2.261746,"{'type': 'Point', 'coordinates': [53.472703078...",1.867703

## Las Palmas

In [57]:
Las_Palmas = [28.139050810737494, -15.431441251599868]

### Starbucks

In [58]:
star_lp = db.get_collection("Starbucks")

In [59]:
query = [{'$geoNear':{'near': Las_Palmas,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [60]:
geoloc_star_lp = star_lp.aggregate(query)

In [61]:
lp_star_response = json.loads(dumps(geoloc_star_lp))

In [62]:
df_lp_star = pd.DataFrame(lp_star_response)

In [63]:
df_lp_star

,_id,longitud,latitud,loc,distance
0,{'$oid': '613487ba24570d3647f29e03'},28.141927,-15.434266,"{'type': 'Point', 'coordinates': [28.141927, -...",0.440111
1,{'$oid': '613487ba24570d3647f29e02'},28.134720,-15.431628,"{'type': 'Point', 'coordinates': [28.134720492...",0.464616

### Schools

In [64]:
school_lp = db.get_collection("Schools")

In [65]:
query = [{'$geoNear':{'near': Las_Palmas,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [66]:
geoloc_school_lp = school_lp.aggregate(query)

In [67]:
lp_school_response = json.loads(dumps(geoloc_school_lp))

In [68]:
df_lp_school = pd.DataFrame(lp_school_response)

In [69]:
df_lp_school

,_id,longitud,latitud,loc,distance
0,{'$oid': '61348f4024570d3647f29e1f'},28.139566,-15.430696,"{'type': 'Point', 'coordinates': [28.139566, -...",0.099582
1,{'$oid': '61348f4024570d3647f29e1d'},28.140824,-15.435629,"{'type': 'Point', 'coordinates': [28.140823978...",0.502910
2,{'$oid': '61348f4024570d3647f29e1e'},28.134745,-15.433736,"{'type': 'Point', 'coordinates': [28.134744867...",0.527398
3,{'$oid': '6134847224570d3647f29d73'},28.131124,-15.439034,"{'type': 'Point', 'coordinates': [28.131123977...",1.197782
4,{'$oid': '6134847224570d3647f29d72'},28.125151,-15.432821,"{'type': 'Point', 'coordinates': [28.125151302...",1.497707
5,{'$oid': '6134847224570d3647f29d77'},28.130914,-15.442772,"{'type': 'Point', 'coordinates': [28.1309143, ...",1.532342
6,{'$oid': '6134847224570d3647f29d74'},28.126893,-15.441975,"{'type': 'Point', 'coordinates': [28.126892625...",1.752161
7,{'$oid': '6134847224570d3647f29d75'},28.122279,-15.428148,"{'type': 'Point', 'coordinates': [28.122279, -...",1.834640
8,{'$oid': '6134847224570d3647f29d7a'},28.112944,-15.426135,"{'type': 'Point', 'coordinates': [28.112944211...",2.859832
9,{'$oid': '6134847224570d3647f29d76'},28.112231,-15.420196,"{'type': 'Point', 'coordinates': [28.112231016...",3.134964
10,{'$oid': '6134847224570d3647f29d78'},28.110616,-15.423040,"{'type': 'Point', 'coordinates': [28.110616275...",3.187812
11,{'$oid': '6134847224570d3647f29d79'},28.111058,-15.420682,"{'type': 'Point', 'coordinates': [28.111057878...",3.230248
12,{'$oid': '61348f4024570d3647f29e20'},28.108564,-15.434343,"{'type': 'Point', 'coordinates': [28.108564223...",3.283612
13,{'$oid': '61348f4024570d3647f29e21'},28.104070,-15.414521,"{'type': 'Point', 'coordinates': [28.104069706...",4.195180

### Transport

In [70]:
trans_lp = db.get_collection("Transport")

In [71]:
query = [{'$geoNear':{'near': Las_Palmas,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [72]:
geoloc_trans_lp = trans_lp.aggregate(query)

In [73]:
lp_trans_response = json.loads(dumps(geoloc_trans_lp))

In [74]:
df_lp_trans = pd.DataFrame(lp_trans_response)

In [75]:
df_lp_trans

,_id,longitud,latitud,loc,distance
0,{'$oid': '61349d0124570d3647f29f87'},28.132637,-15.429829,"{'type': 'Point', 'coordinates': [28.132636926...",0.710467
1,{'$oid': '61349d0124570d3647f29f88'},28.109697,-15.417176,"{'type': 'Point', 'coordinates': [28.109696986...",3.523680
2,{'$oid': '61349d0124570d3647f29f8a'},28.108745,-15.415895,"{'type': 'Point', 'coordinates': [28.108744989...",3.679802
3,{'$oid': '61349d0124570d3647f29f89'},28.108736,-15.415694,"{'type': 'Point', 'coordinates': [28.108735573...",3.691247
4,{'$oid': '61349c6d24570d3647f29f85'},28.104074,-15.457926,"{'type': 'Point', 'coordinates': [28.104074, -...",4.767212

### Developing Companies

In [76]:
dev_lp = db.get_collection("Developing_companies")

In [77]:
query = [{'$geoNear':{'near': Las_Palmas,
            'distanceField' : "distance",
            'maxDistance': 0.001,
            'distanceMultiplier':6371,
            'spherical': True}}]

In [78]:
geoloc_dev_lp = dev_lp.aggregate(query)

In [79]:
lp_dev_response = json.loads(dumps(geoloc_dev_lp))

In [80]:
df_lp_dev = pd.DataFrame(lp_dev_response)

In [81]:
df_lp_dev

,_id,longitud,latitud,loc,distance
0,{'$oid': '6134946a24570d3647f29ef7'},28.137557,-15.430064,"{'type': 'Point', 'coordinates': [28.137557299...",0.221557
1,{'$oid': '6134946a24570d3647f29ef8'},28.143822,-15.425184,"{'type': 'Point', 'coordinates': [28.143821645...",0.863477
2,{'$oid': '6134946a24570d3647f29ef9'},28.107948,-15.418088,"{'type': 'Point', 'coordinates': [28.107947603...",3.649619
3,{'$oid': '6134946a24570d3647f29efa'},28.104387,-15.452705,"{'type': 'Point', 'coordinates': [28.104386944...",4.403864

# Means and weighing

### Weighing

In [142]:
schools = 0.3
starbucks= 0.2
transport = 0.8
developing_companies = 0.7

In [251]:
n = 8

### Dublin

In [253]:
mean_star_dub = df["distance"][0:n].sum() / len(df["distance"][0:n])

In [254]:
w_star_dub = mean_star_dub * starbucks

In [255]:
mean_school_dub = df_dub_school["distance"][0:n].sum()/ len(df_dub_school["distance"][0:n])

In [256]:
w_school_dub = mean_school_dub * schools

In [257]:
mean_trans_dub = df_dub_trans["distance"][0:n].sum()/ len(df_dub_trans["distance"][0:n])

In [258]:
w_trans_dub = mean_trans_dub * transport

In [259]:
mean_dev_dub = df_dub_dev["distance"][0:n].sum()/ len(df_dub_dev["distance"][0:n])

In [260]:
w_dev_dub = mean_dev_dub * developing_companies

In [261]:
w_star_dub + w_school_dub + w_trans_dub + w_dev_dub

2.0622500822066496

### Manchester

In [262]:
mean_star_man = df_man_star["distance"][0:n].sum() / len(df_man_star["distance"][0:n])

In [263]:
w_star_man = mean_star_man * starbucks

In [264]:
mean_school_man = df_man_school["distance"][0:n].sum()/ len(df_man_school["distance"][0:n])

In [265]:
w_school_man = mean_school_man * schools

In [266]:
mean_trans_man = df_man_trans["distance"][0:n].sum()/ len(df_man_trans["distance"][0:n])

In [267]:
w_trans_man = mean_trans_man * transport

In [268]:
mean_dev_man = df_man_dev["distance"][0:n].sum()/ len(df_man_dev["distance"][0:n])

In [269]:
w_dev_man = mean_dev_man * developing_companies

In [270]:
w_star_man + w_school_man + w_trans_man + w_dev_man

1.0566074455474936

### Las Palmas

In [271]:
mean_star_lp = df_lp_star["distance"][0:n].sum() / len(df_lp_star["distance"][0:n])

In [272]:
w_star_lp = mean_star_lp * starbucks

In [273]:
mean_school_lp = df_lp_school["distance"][0:n].sum()/ len(df_lp_school["distance"][0:n])

In [274]:
w_school_lp = mean_school_lp * schools

In [275]:
mean_trans_lp = df_lp_trans["distance"][0:n].sum()/ len(df_lp_trans["distance"][0:n])

In [276]:
w_trans_lp = mean_trans_lp * transport

In [277]:
mean_dev_lp = df_lp_dev["distance"][0:n].sum()/ len(df_lp_dev["distance"][0:n])

In [278]:
w_dev_lp = mean_dev_lp * developing_companies

In [279]:
w_star_lp + w_school_lp + w_trans_lp + w_dev_lp

4.644717894141601